In [8]:
name="jayesh"

In [9]:
print(name)

jayesh

In [4]:
fullname="jayesh rajput"

In [5]:
print(fullname.title())

Jayesh Rajput

In [6]:
print(fullname.upper())

JAYESH RAJPUT

In [7]:
print(fullname.lower())

jayesh rajput

In [ ]:
f string

In [ ]:
custom words------{}

In [13]:
firstname="jayesh"
lastname="rajput"
sentence =f"{firstname.title()} {lastname.title()}"
print(sentence)

Jayesh Rajput

In [14]:
print('fav_sub','c++','java','oracle')

fav_sub c++ java oracle

In [15]:
print('fav_sub\n','c++','java','oracle')

fav_sub
 c++ java oracle

In [27]:
print('fav_sub\n','c\t','c++\t','oop\n','java\t','javascript\n','python\t','oracle')

fav_sub
 c	 c++	 oop
 java	 javascript
 python	 oracle

In [35]:
print('fav_sub\n','c\n\t','c++\n\t\t','oop\n','java\n\t\t','javascript\n','python\n','oracle')

fav_sub
 c
	 c++
		 oop
 java
		 javascript
 python
 oracle

In [42]:
name='     raj      '

In [39]:
print(name)

raj

In [43]:
name.rstrip()

'     raj'

In [44]:
name.lstrip()

'raj      '

In [45]:
name.strip()

'raj'

In [ ]:
#Introduction to list data type

#def: A list is a collection of items in a particlular order

#classification :mutable datatype 

#list datatype---[]

In [53]:
students=['ram','chitra','neel','khushal','krishna','prajakta']

In [50]:
print(students)

['ram', 'chitra', 'neel', 'khushal', 'krishna', 'prajakta']

In [54]:
type(students)

list

In [ ]:
#what is Indexing?

['ram', 'chitra', 'neel', 'khushal', 'krishna', 'prajakta']

In [ ]:
#indexing strat with
0,1,2,3,4,5,6,7,8......

In [55]:
print(students[2])

neel

In [57]:
print(students[2].title())

Neel

In [77]:
students=['ram','jayesh','nilesh','munna','khushal','krishna','gaurav','vaibhav','kunal','shubham','mayur']

In [78]:
print(students)

['ram', 'jayesh', 'nilesh', 'munna', 'khushal', 'krishna', 'gaurav', 'vaibhav', 'kunal', 'shubham', 'mayur']

In [75]:
print(students[1],student[3])

jayesh khushal

In [82]:
Alphabhet=['a','b','c','d','e','f','g','h','i','j']

In [83]:
print(Alphabhet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [84]:
print(Alphabhet[1],Alphabhet[3],Alphabhet[6],Alphabhet[9])

b d g j

In [ ]:
#how to add a new element to the list?
#how to modify the element in the list?
#how to delete the element in the list

In [ ]:
#how to add a new element to list?

In [86]:
students=['ram','chitra','neel','khushal','krishna','prajakta']

In [ ]:
#req: i want to add raju to this list

In [88]:
students.append('raju')
print(students)

['ram', 'chitra', 'neel', 'khushal', 'krishna', 'prajakta', 'raju', 'raju']

In [89]:
students.append('nisha')
print(students)

['ram', 'chitra', 'neel', 'khushal', 'krishna', 'prajakta', 'raju', 'raju', 'nisha']

In [93]:
students.insert(2,'rohit')
print(students)

['ram', 'chitra', 'rohit', 'rohit', 'rohit', 'neel', 'khushal', 'krishna', 'prajakta', 'raju', 'raju', 'nisha']

In [96]:
#how to modify the element in the list

In [97]:
print(students)

['ram', 'chitra', 'rohit', 'rohit', 'rohit', 'neel', 'khushal', 'krishna', 'prajakta', 'raju', 'raju', 'nisha']

In [98]:
students[1]='sachin'

In [99]:
print(students)

['ram', 'sachin', 'rohit', 'rohit', 'rohit', 'neel', 'khushal', 'krishna', 'prajakta', 'raju', 'raju', 'nisha']

In [ ]:
#how to delete the element in the list

In [104]:
del students[2]

In [106]:
print(students)

['ram', 'sachin', 'rohit', 'rohit', 'neel', 'khushal', 'krishna', 'prajakta', 'raju', 'raju', 'nisha']

In [108]:
alphabhet=['a','b','c','d','e','f','g','h','i','j']

In [109]:
print(alphabhet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [110]:
alphabhet.append('k')
print(alphabhet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [111]:
alphabhet.insert(0,'x')
print(alphabhet)

['x', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [112]:
alphabhet[1]='y'

In [113]:
print(alphabhet)

['x', 'y', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [114]:
del alphabhet[1]

In [115]:
print(alphabhet)

['x', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [125]:
abcd=['aaa','bbb','ccc','ddd','eee','fff','ggg','hhh','iii','jjj']
print(abcd)

['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh', 'iii', 'jjj']

In [126]:
print("append")
abcd.append('kkk')
print(abcd)
print("insert")
abcd.insert(0,'xxx')
print(abcd)
print("modify")
abcd[1]='yyy'
print(abcd)
print("delete")
del abcd[1]
print(abcd)

append
['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh', 'iii', 'jjj', 'kkk']
insert
['xxx', 'aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh', 'iii', 'jjj', 'kkk']
modify
['xxx', 'yyy', 'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh', 'iii', 'jjj', 'kkk']
delete
['xxx', 'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh', 'iii', 'jjj', 'kkk']

In [ ]:
# Python program to display calendar of  
# given month of the year  
    
# import module

In [132]:
import calendar  
    
yy = 2021
mm = 2  
print(calendar.month(yy,mm))

   February 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [ ]:
#let us find the value of "pi"

In [133]:
import math
print("the value of pi is",math.pi)

the value of pi is 3.141592653589793

In [141]:
#python program to add two numbers

#expample 1:add two number

num1=37.69
num2=17.73

sum= num1+num2
print("the sum of {0} and {1} is {2}".format(num1,num2,sum))

the sum of 37.69 and 17.73 is 55.42